<form (ngSubmit)="submit(f, $event)" (keydown.enter)="$event.preventDefault()" #f="ngForm">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="content-header">Add Module</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-6">
                                    <form-text
                                            required
                                            maxlength="50"
                                            name="moduleCode"
                                            label="Module Code"
                                            placeholder="Enter module code"
                                            [validationMessages]="validationMessages.moduleCode"
                                            [(ngModel)]="moduleCode"
                                    ></form-text>
                                </div>
                                <div class="col-md-6">
                                    <ngx-qrcode qrc-element-type="img" [qrc-value]="moduleCode" [qrc-version]=3
                                                [qrc-correction-level]="'L'"></ngx-qrcode>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit"
                                class="btn btn-primary btn-raised"
                                *ngIf="canViewButton('new')"
                                [disabled]="!f.valid"
                                (click)="submitAction('save')">
                            <i class="fa fa-save"></i> Save
                        </button>
                        <button type="button"
                                class="btn btn-danger btn-raised"
                                *ngIf="canViewButton('list')"
                                (click)="deleteModal.show();">
                            <i class="fa fa-eraser"></i> Delete
                        </button>
                        <button type="reset" class="btn btn-secondary btn-raised" (click)="cancel()"><i
                                class="fa fa-ban"></i>
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-modal
            #deleteModal="app-modal"
            type="danger"
            title="Are you sure?"
            content="Do you really want to delete this?"
            cancelBtnText="No, do not delete"
            confirmBtnText="Yes, delete it!"
            (onConfirm)="submitAction('delete')"
    ></app-modal>
</form>
